#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/media/xilinx-vip.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "Alientek Navigator Zynq Development Board";
	compatible = "xlnx,zynq-zc702", "xlnx,zynq-7000";

	//此处添加chosen节点方便用于直接拷贝system-user.dtsi用于petalinux工程
	chosen {
		bootargs = "console=ttyPS0,115200 cma=50M earlycon root=/dev/mmcblk0p2 rw rootwait";
		stdout-path = "serial0:115200n8";
	};

};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&qspi {
	u-boot,dm-pre-reloc;
	flash@0 { /* 16 MB */
		compatible = "w25q256", "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@0x000000 {
			label = "boot";
			reg = <0x000000 0x600000>;
		};
		partition@0x600000 {
			label = "bootenv";
			reg = <0x600000 0x020000>;
		};
		partition@0x620000 {
			label = "image.ub";
			reg = <0x620000 0x700000>;
		};
		partition@0xD20000 {
			label = "boot.scr";
			reg = <0xD20000 0x020000>;
		};
		partition@0xD40000 {
			label = "space";
			reg = <0xD40000 0x000000>;
		};
	};
};

&clk_wiz_0 {
    compatible = "xlnx,clocking-wizard";
    xlnx,nr-outputs = <2>;
};

&lcd_out_lcd_pl_pwm{
	compatible = "digilent,axi-pwm";
	#pwm-cells = <2>;
	clock-names = "pwm";
	npwm = <1>;
};

&lcd_out_lcd_vtc {
	compatible = "xlnx,bridge-v-tc-6.1";
	xlnx,pixels-per-clock = <1>;
};

&amba_pl {
	drm_pl_disp_lcd {
		compatible = "xlnx,pl-disp";
		dmas = <&lcd_out_v_frmbuf_rd_0 0>;
		dma-names = "dma0";
		xlnx,vformat = "BG24";
		xlnx,bridge = <&lcd_out_lcd_vtc>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				pl_disp_crtc_lcd:endpoint {
					remote-endpoint = <&lcd_encoder>;
				};
			};
		};
	};

	atk_lcd_drm{
		compatible = "atk,atk_dpi";
		status = "okay";

		clocks = <&clk_wiz_0 0>;
		clock-names = "lcd_pclk";
		pwms = <&lcd_out_lcd_pl_pwm 0 5000000>;

		lcdID = <&lcd_out_lcd_id 0 0 GPIO_ACTIVE_LOW
				 &lcd_out_lcd_id 1 0 GPIO_ACTIVE_LOW
				 &lcd_out_lcd_id 2 0 GPIO_ACTIVE_LOW>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				lcd_encoder: endpoint {
					remote-endpoint = <&pl_disp_crtc_lcd>;
				};
			};
		};

		display-timings {					/* 时序信息 */
			timing_4342: timing0 {
				clock-frequency = <9000000>; /* LCD 像素时钟，单位 Hz */
				hactive = <480>;			/* LCD X 轴像素个数 */
				vactive = <272>;			/* LCD Y 轴像素个数 */
				hback-porch = <2>;			/* LCD hfp 参数 */
				hfront-porch = <2>;			/* LCD hbp 参数 */
				hsync-len = <41>;			/* LCD hspw 参数 */
				vback-porch = <2>;			/* LCD vbp 参数 */
				vfront-porch = <2>;			/* LCD vfp 参数 */
				vsync-len = <10>;			/* LCD vspw 参数 */
				hsync-active = <0>;			/* hsync 数据线极性 */
				vsync-active = <0>;			/* vsync 数据线极性 */
				de-active = <1>;			/* de 数据线极性 */
			};
			timing_7084: timing1 {
				clock-frequency = <33330000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <88>;
				hfront-porch = <40>;
				hsync-len = <128>;
				vback-porch = <33>;
				vfront-porch = <10>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
			timing_7016: timing2 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hback-porch = <140>;
				hfront-porch = <160>;
				hsync-len = <20>;
				vback-porch = <20>;
				vfront-porch = <12>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
			timing_1018: timing3 {
				clock-frequency = <71100000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <80>;
				hfront-porch = <70>;
				hsync-len = <10>;
				vback-porch = <10>;
				vfront-porch = <10>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};

};
