SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="FocalTech FT5426 TouchScreen", SYMLINK+="input/by-path/v5-touchscreen", MODE="0660", GROUP="input"
