SUBSYSTEM=="uio", KERNEL=="uio*", ATTR{name}=="*stepgen*", SYMLINK+="v5-stepgen-uio", OWNER="root", GROUP="petalinux", MODE="0660"
SUBSYSTEM=="uio", KERNEL=="uio*", ATTR{name}=="*dna*", SYMLINK+="v5-dna-uio", OWNER="root", GROUP="root", MODE="0600"
