KERNEL=="uio*", MODE="0660", GROUP="dialout"
SUBSYSTEM=="uio", KERNEL=="uio*", ATTR{name}=="*stepgen*", SYMLINK+="v5-stepgen-uio"
SUBSYSTEM=="uio", KERNEL=="uio*", ATTR{name}=="*dna*", SYMLINK+="v5-dna-uio"
